{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "max-len": ["warn", 120],
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": ["error", { "functions": false }],
    "arrow-body-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "document": false,
    "jest": true,
    "expect": true
  }
}
